@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

*{box-sizing: border-box;}

html, body{
    height: 100%;
    font-family: Pretendard;
    min-width: 280px;
    background: darkslateblue;
    color: #fff;
}
body{
    display: flex;
    flex-direction: column;
}
body main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
h2{
    font-size: 32px;
    text-align: center;
    margin: 0;
}
p{
    text-align: center;
    font-size: 20px;
    color: #fff;
}
p strong{
    color: orange;
    font-size: .6em;
    display: block;
    line-height: 1.4;
    margin-top: 5px;
}
footer{
    padding: 10px;
}
fieldset{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #fff;
}
fieldset legend{
    padding: 0 5px;
}
ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 10px;
}
ul li{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    font-size: 32px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #fff;
    color: #000;
}

.calc-board{
    border: 1px solid yellow;
    border-radius: 5px;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.btns button{
    width: 80px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blueviolet;
    border-radius: 3px;
    border: 0;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
}
.btns button:first-of-type{
    margin-right: 10px;
    color: blueviolet;
    border: 1px solid blueviolet;
    background: #fff;
}

.my-value{
    margin-top: 10px;
}
.my-value.correct{
    color: lime;
}
.my-value.wrong{
    color: #f00;
}

.recal-cnt{
    position: fixed;
    top: 5px;
    right: 5px;
    color: #fff;
    opacity: .1;
}
@media (max-width: 420px){
    p{
        text-align: center;
        font-size: 16px;
        color: #fff;
    }
    ul li{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}
@media (max-width: 320px){
    p{
        font-size: 14px;
    }
    ul li{
        width: 32px;
        height: 32px;
        font-size: 16px;
    }

}